<a href="https://colab.research.google.com/github/tmckim/python-crash-course/blob/main/PythonCrashCourse_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png" width=300><br>
<font color='#4B8BBE' size=20 >Crash Course  </font>


In this notebook, we'll be learning the fundamentals of Python (all of which apply to programming in general!). We'll be working through a dataset of the most streamed Spotify songs compiled in 2023 <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width=20>.


____
# Learning Objectives üôã
## At the end of today, you'll be able to:
* Understand the basic components of a Jupyter notebook üìì
* Write and debug basic Python code üêç
* Use functions, loops, conditional statements, and apply programming fundamentals applicable across computing languages üíª
* Analyze a dataset using Python libraries built for data science üí≠ üß†
* Learn and discuss best practices for data visualization to communicate your results üì¢ üìà

**<font color="red" size=4> IMPORTANT: This notebook is READ-ONLY. To edit and run this notebook, follow the steps in the next section.</font>**

____
## üíæ Before you start - Save this notebook!

When you open a new Colab notebook from the WebCampus (like you hopefully did for this one), you cannot save changes. So it's  best to store the Colab notebook in your personal drive `"File > Save a copy in drive..."` **before** you do anything else.

The file will open in a new tab in your web browser, and it is automatically named something like: "**CopyofPythonCrashCourse_Notebook_beginner.ipynb**". You can rename this to just the title of the assignment "**PythonCrashCourse_Notebook_beginner.ipynb**". Make sure you do keep an informative name (like the name of the assignment) to help you be able to come back to this after you complete this part of the assignment.

**Where does the notebook get saved in Google Drive?**

By default, the notebook will be copied to a folder called ‚ÄúColab Notebooks‚Äù at the root (home) directory of your Google Drive.

___

---
# Pre-Workshop Survey on Coding Background & Attitudes

Survey [link](https://forms.gle/wjgqJFrBehxLm8YT9
)

Please complete this short survey prior to the start of the session. All responses are anonymous.
_____

# Section 0: Python üêç  & Colab üìì

Welcome to Google Colab! We'll be working in Colab for this introductory Python course.

</br>
</br>
<img src="https://miro.medium.com/max/986/1*pimj8lXWwZnqLs2xVCV2Aw.png" width=500>
</br>
</br>


## What is Colab?
Colab is a browser-based environment - you can develop, run, and share code directly on your browser without having to install any software or libraries on your computer. Additionally, code written and run from colab runs on google's cloud computers, so you aren't limited by your laptop's speed or compute power. üì∂

</br>

**<font color='red'>Note: One downside of Colab is that if you turn off your computer, are idle, or refresh the page, your current runtime is lost. You will need to run the notebook from the beginning in order to redo any variables, functions, or operations you have performed.</br></br> You can more easily rerun your notebook by clicking Runtime>>Run all, or Runtime>>Run before at the top of the page. This will attempt to run all of your current cells (until one gets an error) or  all of the cells above the current cell your cursor is on. </font>**

</br>


Colab can be especially helpful for data science tasks, because it gives you a space to write code, generate/view graphs, and organize your thought process.  For those of you who have used jupyter before, colab acts a simple browser-based jupyter notebook. We'll be using colab with Python, but colab can be used with a variety of different coding languages.

</br>

A Colab notebook (a file like this one) consists of cells, snippets of code or text that you can create, edit, and move around to keep things organized. These cells can be:

*   **text cells** üî†
<br>or<br>
*   **code cells** üíª

You can **double click** <img src='https://miro.medium.com/v2/resize:fit:280/0*oa0XcvM99Y5clDsj.png' alt='mouse cursor images' height='25px'>
on a cell in order
to edit it.

</br>

## Text Cells



This is a **text cell**. You can **double-click** to edit this cell. Text cells
use markdown syntax. To learn more, see the [markdown
guide](/notebooks/markdown_guide.ipynb).

You can format text cells by **changing** `the` *font*,  adding:
1.   Numbered lists, or
*   Bullet points


You can even add HTML to your text cells to embed images or add other fun effects.


<img src = "https://freesvg.org/img/icon-html.png" width=100>


You can also add math to text cells using [LaTeX](http://www.latex-project.org/)
to be rendered by [MathJax](https://www.mathjax.org). Just place the statement
within a pair of **\$** signs. For example `$\sqrt{3x-1}+(1+x)^2$` becomes
$\sqrt{3x-1}+(1+x)^2.$ <br><br>
To insert a text cell, click on a cell on the page and then click the "+ Text" button at the top. Or scroll to the middle of the notebook page before/after a cell and you should see these options appear: <br>
<img src="https://github.com/tmckim/python-crash-course/blob/main/imgs/ColabAddCodeTextImg.png?raw=1"/>


This will make a text cell directly above or below the cell you are on.

## üßò  0.0 Exercise


Make a text cell below this one.

In your text cell:

1.   Write a one sentence description about yourself, and why you chose to take this workshop.
2.   Write a list of 3 small tasks you would like to be able to accomplish with Python/colab after today.
3. Using the HTML syntax ```<img src="INSERT IMAGE HTML"> ```, embed the image hosted at:

  ```  https://imgs.xkcd.com/comics/future_self.png ```

<mark>## Solution <mark>

1. I'm Dr. Theresa McKim and I'm the instructor running this workshop =) I'm a Teaching Assistant Professor in Biology and my background and training is as a neuroscientist. <br>

2. 3 tasks:
* Demonstrate and convey the importance of coding across disciplines
* Share my knowledge and passion for teaching this topic with you
* Diversify and gain experience teaching this topic as a workshop (as opposed to within the context of my current course) <br><br>
3. <img src="https://imgs.xkcd.com/comics/future_self.png">

## Code Cells

Colab notebooks also consist of **coding cells**, cells that have executable code written in them.

To run a coding cell, either:
1. hover over the cell and click the "play" ‚ñ∂ arrow that appears on the left upper corner
2. Or click into the cell and then press Ctrl+Enter (or Shift+Return).

You should see a check mark if the cell runs successfully ‚úî.

Coding cells can look like the following, where you can see raw code and comments (anything after the #hashtag). <br>

>**Task:** Run this cell!

In [ ]:
n_sections = 10
# This is a comment! When there is a # before a line in a coding cell,
# python will ignore that line of code, rather than trying to run it.
n_exercises_per_section = 3

'''
You can also
write longer
comments
by using
this syntax.
'''

print("Number of exercises in this notebook:", n_sections*n_exercises_per_section)

Cells can also look like the following where you can hide code by adding the following line to the top of your page.

`# @title TITLE GOES HERE `.<br>

You can click on the arrow **>** at the top left to show the code or on <font color='blue'>`Show code`</font>. You can still run hidden code cells by pushing "play" ‚ñ∂, or clicking into the cell and typing Ctrl+Enter. To hide the code once more, double click on the text part of the cell.

In [ ]:
#@title Hidden Code Example

n_sections = 10
n_exercises_per_section = 3
print("Number of exercises in this notebook:", n_sections*n_exercises_per_section)

## üèÉ 0.1 Coding Exercise

Fill in the following code cell and run it.

In [ ]:
breakfast_yesterday = "coffee" ### REPLACE WITH YOUR CODE HERE ###
lunch_yesterday = "chicken salad" ### REPLACE WITH YOUR CODE HERE ###
print("I had ", breakfast_yesterday, " for breakfast",
      "and ", lunch_yesterday, " for lunch.")

## üèã 0.2 Coding Exercise

Delete the text cell below, and replace it with a code cell that prints [every programmer's first words](https://slate.com/technology/2019/10/hello-world-history-programming.html):

"Hello, world!"

**DELETE ME!**

In [ ]:
#@title Solution
print('Hello, World!')

______

# Section 1: Setup and import files üß∞ üõ†

There are several steps we need to do to access the dataset before we can load the file:
1. Copy the data file to working memory to run in this notebook
2. Check that we have it available to us<br>

Other options (backup if the above doesn't work):
1. Mount our gdrive (connect to this notebook)
2. Fetch the data file from my github repository
3. Change into our directory where the file is located

We will start by downloading the data file (`spotify-2023-clean.csv`) to access for today.

>**Task:** Run the cell below. If it works, you should see text that looks like this:
</br><br>
<img src="https://github.com/tmckim/python-crash-course/blob/main/imgs/wget_filesuccess.png?raw=1"/>

In [ ]:
### RUN THIS CELL ###
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1hv66NjJSa98UUVsbEppZjtOCInmbbRES' -O spotify-2023-clean.csv

> **Task:** On the left side of the Colab window, click the üìÅ icon, and double click on your files to see what the raw data looks like. You should see a file called `spotify-2023-clean.csv`.

**^ If this was not successful for you, please let us know and we will help troubleshoot!**

## Backup- Only needed if the above didn't work ^^ üòÖ

If all of the above fails, please follow this [link](https://drive.google.com/file/d/1hv66NjJSa98UUVsbEppZjtOCInmbbRES/view?usp=sharing) to download the data file locally to your computer. You can then navigate to the üìÅ icon on the left and drag and drop the file there for access.

## üìö Python Libraries

Python comes with many useful built in classes and functions - lists, dictionaries, counters, and their associated functions, are some examples. You can accomplish many simple tasks using native Python code.

</br>
<img src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg" width=600>
</br>

However, just like in many computer languages, the beauty of Python is that other people have spent much time developing useful code that they have tested robustly and wish to share with others. These are called libraries or packages.  We can import popular packages into the Python/Colab environment and if the package has not already been installed on our version of Python, we can easily install the package and use it.

(In Colab, or in a linux environment if you run Python locally, we can easily install new packages using ```!pip install [PYTHON PACKAGE]```)

For this Colab notebook we will be working with four packages that typically come pre-installed on most versions of Python. They are:

- **numpy**: A library for working with numerical lists, called arrays
- **pandas**: A library for working with two dimenional lists, called dataframes
- **matplotlib**: A package for plotting, commonly used in tandem with numpy and pandas
- **seaborn**: A package for plotting, commonly used in tandem with pandas

</br><img src="https://miro.medium.com/max/765/1*cyXCE-JcBelTyrK-58w6_Q.png" width=200> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width=200> </br><img src="https://matplotlib.org/stable/_static/logo_dark.svg" width=200> <img src="https://seaborn.pydata.org/_images/logo-wide-lightbg.svg" width=200> </br></br>
We can import these libraries (or certain classes/functions from these libraries) into our local runtime using the following code. The nicknames I used (np, plt, np, ans sns) are pretty standard nicknames that most Python programmers use, though you could use anything.


>**Task:** Run the following cell to import the relevant libraries.

In [ ]:
### RUN THIS CELL ###
# Import our plotting package from matplotlib and shorten it to plt
import matplotlib.pyplot as plt

# Specify that all plots will happen inline & in high resolution
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Import pandas for working with databases and shorten it to pd
import pandas as pd

# Import numpy and shorten it to np
import numpy as np

# Import plotting package seaborn and shorten to sns
import seaborn as sns

# Print statement to confirm
print('Packages imported!')

>**Task:** Run this cell to set formating options. These can be changed according to your preferences.

In [ ]:
### RUN THIS CELL ###
# We want to see all the columns/rows in the dataset
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.1f}'.format  # don't use scientific notation

## üì´ Importing Data

Read the file from the colab files into your runtime. There are several options for reading a file in, but we will use the `pandas` package (which we imported as `pd`): <br>
*   pandas ```read_table()``` or ```read_csv()``` function, which reads a file with multiple data types into a dataframe.

In [ ]:
### RUN THIS CELL ###
## Import file (cleaned up)
spotify = pd.read_csv('spotify-2023-clean.csv')
print('data imported!')

In [ ]:
### RUN THIS CELL ###
## Type the name of the dataframe to view it
spotify

In [ ]:
### RUN THIS CELL ###
## Another quick preview of variables
spotify.info()

We have 953 rows (observations) and 24 columns. In the column labeled `Column`, the names of each column are listed and it shows how many non-null values are present, meaning how much data there is. Any difference between this number and the total number of entries (953 shown at the top) indicates there is missing data. <br><br>
The last column `Dtype` tells us what type of data you have in each column. You can see here that many are numbers and have no decimals (`int64`) or have decimal values (`float64`). Note that some of our columns that have strings or text values are right now labeled as `object` (first entry). We will adjust this along the way to make sure they are strings.

We can see that we do have missing data here. Particularly note these 3 columns: `streams`, `in_shazam_charts`, and `key`.  If you go back up and review the table, you will see that missing values are labeled with `NaN`, which stands for `Not a Number`. This is typically a common naming convention to use, and you will see it across datasets. We will discuss this more as we go, and ultimately, when working datasets that have NaNs, you will need to make some decisions on what you do with this data.

##  üìâ Show me the data

I know that you don't know much yet about the data, but let's see if you can make some predictions. Who do you think might be among the top artists as of 2023? Let's see if you were right!

>**Task:** Run the cell below to see the answer. Notice that it only takes 13 lines of code to produce our plot. By the end of today, you will be able to understand what this all means- woot! üôå
<br><br>

And the award üèÜ for the most songs in our dataset goes to ü•Åü•Åü•Åü•Å .....

In [ ]:
### RUN THIS CELL ###

# set a theme for consistency and format
sns.set_theme(style="ticks", font_scale=1.25)                  # set the theme we want in seaborn (sns) - always start with this- only need to do once

# This takes the data out of the larger dataset that we need
artist_counts = spotify['artist_name'].value_counts()
artist_plot = artist_counts.head(15)

# Set this text for the plot- easiest to edit here as needed
x_label_name = 'Artist Name'                                   # x-axis label text
y_label_name = 'Number of Songs'                               # y-axis label text
plot_title = 'Top 15 Artists With Most Songs'                  # plot title text

# Example of barplot
ax = sns.barplot(x = artist_plot.index, y = artist_plot, hue = artist_plot, palette = 'flare')    # this is the main plotting code

# Adjustment + aesthetics of plot
ax.figure.set_size_inches(6.5, 4.5)                            # this sets the size and we will use to be consistent across all plots below
sns.despine()                                                  # remove top and right axes (w/o this, full box border)
plt.xlabel(x_label_name)                                       # use matplotlib (plt) to adjust the x axis on this one
plt.ylabel(y_label_name)                                       # use matplotlib (plt) to adjust the y axis on this one
plt.xticks(rotation=45,ha='right')                             # Rotate x-axis labels for better readability
plt.title(plot_title, y=1.1)                                   # add a title so we know what we plotted!
plt.ylim(0,40);                                                # use matplotlib (plt) to adjust the y axis limits

Did you guess it would be Taylor Swift?

<img src="https://images.seattletimes.com/wp-content/uploads/2023/07/07222023_swift_210501.jpg?d=768x546" width=600>
</br>

## üé∂ Most Streamed Spotify Songs from 2023 Dataset üéπ

The data was downloaded from [kaggle](https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023) and has
24 columns: <br><br>
`track_name`: string, the title or name of the song <br>
`artist(s)_name`: string, the name of the artist or group responsible for creating the song
<br>
`artist_count`: int, number of artists contributing to the song
<br>
`released_year`: int, the year when the song was released
<br>
`released_month`: int, the month when the song was released
<br>
`released_day`: int, the day of the month when the song was released
<br>
`in_spotify_playlists`: int, the number of Spotify playlists the song is included in
<br>
`in_spotify_charts`: int, the number to indicate presence and rank of the song on Spotify charts
<br>
`streams`: int, total number of streams on Spotify (ranges from thousands to billions)
<br>
`in_apple_playlists`: int, the number of Apple Music playlists the song is included in
<br>
`in_apple_charts`: int, the number to indicate presence and rank of the song on Apple Music charts
<br>
`in_deezer_playlists`: int, the number of Deezer  playlists the song is included in
<br>
`in_deezer_charts`: int, the number to indicate presence and rank of the song on Deezer charts
<br>
`in_shazam_charts`: int, the number to indicate presence and rank of the song on Shazam charts
<br>
`bpm`: int, beats per minute (bpm); a measure to indicate song tempo
<br>
`key`: string, key of the song
<br>
`mode`: string, mode of the song (major or minor)
<br>
`danceability_%`: int, percentage indicating how suitable the song is for dancing
<br>
`valence_%`: int, percentage indicating positivity of the song's musical content
<br>
`energy_%`: int, percentage indicating the perceived energy level of the song
<br>
`acousticness_%`: int, percentage indicating the amount of acoustic sound in the song
<br>
`instrumentalness_%`: int, percentage indicating the amount of instrumental content in the song
<br>
`liveness_%`: int, percentage indicating the prescence of live performance elements
<br>
`speechiness_%`: int, percentage indicating the amount of spoken words in the song

Explore the first and last 5 rows using `head` and `tail`

In [ ]:
### RUN THIS CELL ###
spotify.head()

In [ ]:
### RUN THIS CELL ###
spotify.tail()

---
# Section 2: Variables and Data Types üî† üî¢

<img src="https://github.com/tmckim/python-crash-course/blob/main/imgs/PythonDataTypes.png?raw=1"/>
<br>

Image [source](https://www.linkedin.com/pulse/data-types-variables-expressions-python-anubhav-kumar/)

Sometimes we might want to keep track of a how a value is changing over time, or refer to a value over and over again. A **variable** is a container for values or data. Variables can be referenced later on, or changed over time.


In Python, a variable is created the moment we *assign* a value to it.  In the following code, we are creating a **variable** ```my_favorite_number``` that holds the value ```42```.

>**Task:** Review the code below as we walk through it, and run each cell.

In [ ]:
# assignment statement: assign the value 42 to my_favorite_number
my_favorite_number = 42

We can then reference the variable later on:

In [ ]:
# Show me the number
print(my_favorite_number)

Use the current value of the data in another variable:

In [ ]:
# Arithmetic operations
another_fun_number = my_favorite_number/2

In [ ]:
# What should this value be?
another_fun_number

Or change the value of the variable:

In [ ]:
# Re-assign the original value
my_favorite_number = my_favorite_number/6
my_favorite_number

From now on, if we use `my_favorite_number`, Python will substitute the value we assigned to it. The variable is just a name for a value. Naming it hopefully helps us remember what we did so we can use it again in the future! <br>
In Python, variable names:
*   can include letters, digits, and underscores
*   cannot start with a digit
*   are case sensitive (upper vs. lower case) <br>
    Example: `hours_sleep` and `Hours_sleep` are two **different** variables!

## üßò 2.0  Coding Exercise

>**Task**: Run the code below to see our first error! Before you run the cell, think about why this will error based on what we just reviewed.

In [ ]:
# This should error- why?
42_fav_number = 42

>**Task**: Edit the code above to fix the variable name so that it works and does not error. Put your code in the cell below.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
fav_number_42 = 42
fav_number_42

As you've just seen, Python can be used as a calculator and you can easily perform many mathematical operations.
Numbers fall into two categories, and additionally there are several other **data types**:

* **Integers**: These are values like 1, 2, 200, 0, -1, etc. Data of this type in Python are called ```int```.

* **Floats**: Floats are numerical values that can take on decimal values as well. Data of this type in Python are called ```float```.

* **Strings**: Strings are collections of numbers or letters that make up a word, name or sentence. They are usually declared using quotation marks. ```"banana"```, ```"42"```, and ```"42 bananas"``` are all strings. Data of this type in Python are abbreviated ```str```.

* **Booleans**: True or False. In Python, this type is called ```bool```.

* **Lists**: Collections of elements that have a distinct order. Python's data type for this is ```list```. (We will get to this in the next section!)

>**Task**: Run this cell.

In [ ]:
### RUN THIS CELL ###
an_int = 5
a_float = 9.99
a_string = 'Hello World!'
a_new_string = "Python Crash Course"
a_bool = True
another_bool = 10<7

print(an_int)
print(a_float)
print(a_string)
print(a_new_string)
print(a_bool)
print(another_bool)

In [ ]:
#@title Example Solution
a_new_string

## üèÉ 2.1 Coding Exercise

What will be the values of ```number_a```, ```number_b```, ```string_a``` after the following code is run?


```
number_a = 42
string_a = "forty two"
number_b = number_a/2
number_a = number_a/6
```

>**Task**: Now type this out into a code cell and check if you were correct!

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Solution
number_a = 42
string_a = "forty two"
number_b = number_a/2
number_a = number_a/6
print('number_a: ', number_a)
print('number_b: ', number_b)
print('string_a: ', string_a)

### Tip üëà
You can use the `%whos` command at any time to see what variables you have created and what modules you have loaded into the computer's memory.

In [ ]:
%whos

## üèã 2.2 Coding Exercise

There is another word for data types in programming - classes. Variables of a specific class are sometimes called objects of that class.

In Python you can look at the class of a variable/object using the function [```type()```](https://docs.python.org/3/library/functions.html#type). <br>

Print the class types of in the following cell:
* the value ```"abcd1234"```
* the result of ```10 > 9```
* the sum of ```2 + 1.5```
* whatever ```"hungry" + "hippo"``` returns
* whatever ```"twenty" + 7``` returns


Hint: One of these should cause Python to throw an error!

In [ ]:
## YOUR CODE HERE ###

In [ ]:
#@title Example Solution
print(type('abcd1234'))
print(type(10 > 9))
print(type(2+1.5))
print(type("hungry" + "hippo"))
print('twenty' + 7)


---

# Section 3: Lists üóí üòÄ üòâ üòÜ ü§î

Many times we aren't just going to be working with single values -  we want a way to store multiple values, strings, etc. [Lists](https://docs.python.org/3/tutorial/datastructures.html) are built into python (so we don't have to load a library to use them). We create a list by putting values inside square brackets and separating the values with commas:

In [ ]:
our_first_list = [2,'banana', [1,2,3], np.max, 2.5]
type(our_first_list)

Notice in the above example, the types within the list were hetergeneous. Lists can store elements of different types. In the following examples you will see examples of lists with all the same data types as well.

In [ ]:
### RUN THIS CELL ###
# This code will become clear once we review indices in lists below
print(type(our_first_list[0])) #2
print(type(our_first_list[1])) #'banana'
print(type(our_first_list[2])) #[1,2,3] - a list within a list!
print(type(our_first_list[3])) #np.max - numpy max function
print(type(our_first_list[4])) #2.5

## üßò 3.0  Coding Exercise

We just saw that we can initialize a list by using square brackets with elements separated by commas. We  can also initialiize an empty list by using just two square brackets.

>**Task:** Fill in the cell below. The first list should contain as many items as you can think of (hint: `brown`, `blue`, `black` will get you started). The second list should be initialized to be empty. <br>

Notice it won't produce any output. Based on what you've seen above so far, how can you see what is inside each list? Use the second cell to write your own code to show the output.

In [ ]:
colors_starting_with_b = ### YOUR CODE HERE ###
colors_starting_with_k = ### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
colors_starting_with_b = ['brown', 'blue', 'beige', 'black']
colors_starting_with_k = []
print(colors_starting_with_b)
print(colors_starting_with_k)

## Indexing ‚ùó

Now a few new list concepts: We can reference a specific element in a list by using square brackets and the index of the element. Note that Python starts indexing at 0! The first element is element 0, the second element is element 1, etc. (Now do you understand why this notebook is numbered the way it is? üôÇ).

## üèÉ 3.1 Coding Exercise

>**Task:** BEFORE you run the cell below, predict what you think the output will be - Don't peek yet! üôà This is a good check of your understanding so far. Run the cell and add your own code to preview the output.

In [ ]:
# What will be the output here?
flowers = ['violet', 'tulip', 'rose', 'gardenia']
flower_with_thorns = flowers[2]

In [ ]:
### YOUR CODE HERE ###

We can also add elements, or lists, to the end of lists using `append`.
>**Task:** Review the line of code below and predict where `pluto` will be added. Then show the output to check your understanding.

In [ ]:
planets = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']
planets.append('pluto')

In [ ]:
### YOUR CODE HERE ###

We can also remove elements using `remove`.
>**Task:** Run the line of code below to kick out pluto from out list - bye, pluto! üëã

In [ ]:
# The remove function removes one instance of an element from the list
planets.remove('pluto')
print('Pluto is no longer a planet in our list :(\n', planets)

Lists can even take on multiple dimensions, and you can use multiple indexes (indices) for referencing.
>**Task:** BEFORE you run the cell below, predict what you think the output will be - Don't peek yet! üôà This is a good check of your understanding so far. Don't worry if you haven't gotten the hang of it yet - this takes practice and we will review together.

In [ ]:
famous_trios = [['luke', 'leia', 'han solo'], ['dory', 'nemo', 'marlin'], ['harry', 'hermione', 'ron'], ['blossom', 'bubbles', 'buttercup']]
famous_trios.append(['aragorn', 'legolas', 'gimli'])
the_chosen_one = famous_trios[2][0]

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
the_chosen_one

## List Review
<br> The order of indices is [`row #`][`column #`]. And don't forget that Python indices start from 0 (and not 1)! <br>
The second row (`famous_trios[2]`) consists of: `['harry','hermione','ron']`. We then want position 0 `famous_trios[2][0]` which results to the output above.

Let's examine the figure below: <br>
Rows are colored according to the brackets:
*   row 0: <font color='green'><b> Green </font></b>
*   row 1: <font color='#0D98BA'><b> Blue </font></b>
*   row 2: <font color='purple'><b> Purple </font></b>

Columns are colored according to the highlighted ovals:
*   col 0: <font color='#F987C5'><b> Pink </font></b>
*   col 1: <font color='#FAB972'><b> Orange </font></b>
*   col 2: <font color='#FEE12B'><b> Yellow </font></b>


<img src="https://edcarp.github.io/2018-11-06-edinburgh-igmm-python/fig/python-zero-index.png">

Image [source](https://edcarp.github.io/2018-11-06-edinburgh-igmm-python/01-numpy/index.html)

## A Preview of Class Structure

Many libraries in Python will use more sophisticated classes, that come with their own attributes and functions. For example, we will work with `numpy` and `pandas` in a bit.

A [list](https://docs.python.org/3/tutorial/datastructures.html) is the most sophisticated class we looked at so far. It too has ***attributes***, properties that belong to a specific object of the class, and ***functions*** that ***belong to it***. You can call functions that belong to a certain class using ```object_name.function_name(additional_parameters)```. We actually already did this above with both `append` and `remove`. <br>

Here are some more examples of attributes and functions of the list class.

Sometimes functions that act on a class change the properties of an object, sometimes they return a value, and sometimes they do both.

In [ ]:
### RUN THIS CELL ###

my_sisters_pets = ['dog', 'dog', 'cat', 'cat', 'gecko', 'cat', 'cat']

# The sort function sorts the given list alphabetically/numerically.
my_sisters_pets.sort()
print('My sisters pets, in alphabetical order: ', my_sisters_pets)

# The count function counts the number of times a certain element appears in the list.
print('My sister has ', my_sisters_pets.count('cat'), 'cats.')

# The remove function removes one instance of an element from the list.
my_sisters_pets.remove('cat') # My sister's cat got lost ):
print('My sister has ', my_sisters_pets.count('cat'), 'cats.')

# We've used the append function before!
my_sisters_pets.append('cat') # Luckily, a neighbor found him!
print('My sister has ', my_sisters_pets.count('cat'), 'cats.')

## üèã 3.2 Coding Exercise

<img src="https://cdn.pixabay.com/photo/2012/07/29/21/42/dresses-53319__340.jpg" width=300>

Create a list of 7 items of clothing that you know you currently have in your closet. Use just a word that generally describes each item - shirt üëï, pants üëñ , coatüëö, dress üëó. The same type of item can appear multiple times.

Update your list according to the following events, and print the list after each update.
* You donated a pair of pants üëñ! (Or an item of your choice, if you aren't a big fan of pants üëô).
* You bought a really awesome jacket üëö that you love.
* You want to sort the items alphabetically, so that you can quickly organize your wardrobe.
* You want to count the number of shirts üëï that are in your wardrobe.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
wardrobe = ['shirt', 'pants', 'pants', 'coat',
            'sweater', 'sweater', 'shirt']

print(wardrobe)
wardrobe.remove('pants')
print(wardrobe)
wardrobe.append('jacket')
print(wardrobe)
wardrobe.sort()
print(wardrobe)
wardrobe.count('shirt')

---

# Section 4: Numpy Arrays 8Ô∏è‚É£ 9Ô∏è‚É£ 5Ô∏è‚É£ 0Ô∏è‚É£ 2Ô∏è‚É£

<img src="https://cdn.pixabay.com/photo/2016/11/05/17/56/cat-1800843_1280.jpg" width=400>
<br>


An ***array*** is a `numpy` datatype that looks like a numerical list. While in many ways arrays look and act like the list datatype, they have some special features that make them more powerful than the list structure when performing mathematical computation.

Let's talk about the basics of arrays:
- Initializing an array: Creating an empty or other type of array.
- Indexing of arrays: Getting and setting the value of individual array elements, or smaller subarrays.
- Reshaping of arrays: Changing the shape of a given array, and combining two or more arrays.

An array looks like:

In [ ]:
### 1D Array ###
np.array([1,2,3,4,2,3,4])

In [ ]:
### 2D ARRAY ###
np.array([[1., 4.5, 3.4],
       [5., 1.3, 1.],
       [7., 2.9, 0.8],
       [6.3, 4.9, 0.4]])

In [ ]:
# It can contain all strings
np.array(['eat','sleep','repeat'])

In [ ]:
# It can contain booleans
np.array([True,False,False])

In [ ]:
# What happens if we mix types like we did with lists?
np.array(['eat',1,2])

In [ ]:
# Intialize an empty array
new_array = np.array([])
new_array

## üë∑ Initalizing an Array

There are a few different ways to initialize (create) an array. Above we already did two of these:
-  Initialize an empty array using ```np.array([])```.
- Create an array with your own inputs using ```np.array([1,2,3,4 etc.])```

You can also:
- Read a list or matrix of numbers from a file into a numpy array using ```np.loadtxt()```. (We won't test this one, more on this [here](https://numpy.org/doc/stable/user/how-to-io.html))
- Generate an array with specific dimensions and distributions using functions like [```np.zeros()```](https://numpy.org/doc/stable/reference/generated/numpy.zeros.html), [```np.ones()```](https://numpy.org/doc/stable/reference/generated/numpy.ones.html), [```np.random.random()```](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html), or [```np.random.randn()```](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randn.html).

## üßò 4.0  Coding Exercise

Let's test our luck by heading to the roulette tables!

<img src="https://cdn.pixabay.com/photo/2012/04/05/01/24/dice-25637__340.png" width=200>

>**Task:** Initialize an array that is the equivalent to rolling a six-sided dice, 50 sets (the number of states), 3 times (rolls) per state.

>**Hint:** Check out the [```np.random.choice()```](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html) function.  

>Print the dimensions of your array to check you did this correctly.

In [ ]:
state_dice_rolls = ### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
state_dice_rolls = np.random.choice([1,2,3,4,5,6],
                                    size=(50,3))

print(state_dice_rolls.shape)

## üó∫ Navigating an Array: Slicing üî™ üçâ

Navigating a `numpy` array feels somewhat similar to navigating a list.  We can access elements in a 1D array using ```myarray[30,20]```.  We can select multiple values or sections using the ```:``` operator to stand for "all elements leading up to or after a certain number". For example, the slice [0:4] means: "Start at index 0 and go up to, but **not including**, index 4." <br><br>
For multidimensional arrays, we can access elements using the same notation as lists (```myarray[1][2]```), or we can accesss elements using commas to separate the indices (```myarray[1,2]```). The comma notation allows us to select specific slices of the array as well.<br><br>
Check out the following code to understand some of the nuances of navigating an array.


**Note:** In multidimensional numpy arrays, it is best practice to have consistent numbers of elements per index. We should not have an array that looks like ```np.array([[1,2,3],[4,5]])```

>**Task:**
Start by showing the output of `exercises_section1` and navigate each line by referring back to this array. BEFORE you run the second cell, predict what you think the output will be - Don't peek yet! üôà This is a good check of your understanding so far. <br><br>
Don't worry if this is tough - this takes practice and we will review together.

In [ ]:
# Show the array we will work with to start
exercises_section1 = np.array([[0.0,0.1,0.2],[1.1,1.2,1.3], [2.0,2.1,2.2]])
exercises_section1

In [ ]:
# Run this after you review the output above
# Guess what you think each line below will show
this_exercise = exercises_section1[2,2]
print('this exercise:', this_exercise)

exercises_section2 = exercises_section1[1,:]
print('exercises_section1:', exercises_section1)

harder_exercises_completed = exercises_section1[:2,1:]
print('harder_exercises_completed:\n', harder_exercises_completed)

In the last example, `harder_exercises_completed`, you see that we also don't have to include the upper and lower bound on the slice.
-  If we don't include the lower bound, Python uses 0 by default
-  If we don't include the upper bound, the slice runs to the end of the axis

Note: There is another option we didn't test -  I encourage you to try it out if you've finished the above and are waiting to continue
-  If we don't include either (i.e., if we just use `:` on its own), the slice includes everything

## üèÉ 4.1 Coding Exercise

Using the ```state_dice_rolls``` array, find out what number these states rolled on their second dice rolls: Nevada (index 27), New Hampshire (index 28),
New Jersey (index 29), New Mexico (index 30), New York (index 31), North Carolina (index 32).

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
print(state_dice_rolls[27:33,1])

## üîÉ  Reshaping and Combining Arrays

We can also reshape multidimensional arrays, and combine arrays.

The [```.transpose()```](https://numpy.org/doc/stable/reference/generated/numpy.transpose.html) command swaps the dimensions of the array (a 2x6 array becomes 6x2) without changing its data.


To add an element to a `numpy` array you can use [```np.append(orig, array_to_append)```](https://numpy.org/doc/stable/reference/generated/numpy.append.html) or [```np.concatenate([array1, array2, array3])```](https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html).


Check out the following example for how [```np.reshape()```](https://numpy.org/doc/stable/reference/generated/numpy.reshape.html) and ```np.append()``` work.

In [ ]:
### RUN THIS CELL ###

orig_array = [[1,2,3],[4,5,6],[7,8,9], [10,11,12]]
reshaped_array = np.transpose(orig_array) # 4 rows x 3 cols becomes: 3 rows x 4 cols

print('orig_array:\n', orig_array)
print('\nreshaped_array:\n', reshaped_array)

to_add = np.array([13,14])
to_add2 = np.array([15,16])
to_add = np.concatenate([to_add, to_add2]) # Concat arrays together.
print('\nto_add:', to_add)


# Specify the axis that we want to add the array to
# (more on axes in a minute!)
final_array = np.append(reshaped_array, [to_add], axis=0)
print('\nfinal_array:\n ', final_array)

## üèã 4.2 Coding Exercise


1. Reshape your array to be 3 x 50 dice rolls, rather than 50 x 3 dice rolls.
2. Print the 3rd dice roll from the 12th state.

```
np.array([[1,2,3,3,3,1,5,4,4...],
          [6,3,4,5,3,2,5,3,6...]])

```

In [ ]:
state_dice_rolls_reshaped = None ### YOUR CODE HERE ###

In [ ]:
#@title Example Solution

state_dice_rolls_reshaped = np.transpose(state_dice_rolls)
print(state_dice_rolls_reshaped[2][11])

---

# Section 5: Array Arithmetic ‚úñÔ∏è ‚ûï ‚ûñ ‚ûó

<img src="https://scipy-lectures.org/_images/numpy_broadcasting.png" width=500>

Numpy arrays are especially powerful when wanting to perform mathematical operations on list-like structures.


You may want to perform the same operation on every element in an array, use multiple arrays to perform specific operation, or perform some sort of mathematical operation on a specific dimension of an array. For example, you may want to take the mean of each "column" in an array, or the sum of every "row". An **axis** is the dimension of the array you are interested in performing aggregation on (more on this later!)


## ‚öõ Element-wise operations

You might want to perform the same operation on every element of an array. There are three options for doing this:

-  Because numpy has become so popular, many functions that typically take in an integer or float, can also detect if the input is a `numpy` array, and will perform the function on every element in an array. This is of course the case for `numpy` functions, but is also often the case from functions included in various statistics and math libraries in Python.
- Mathematical operations in native Python code perform the same function on every element on an array.
- Some functions in libraries will  only act on a single value or integer. We can use  [```np.vectorize()```](https://numpy.org/doc/stable/reference/generated/numpy.vectorize.html) to turn a function that normally just takes a single number as an input, to a function that takes in an array.

In [ ]:
### RUN THIS CELL ###

# Numpy function that defaults to performing
# the same operation on every element
my_array = np.array([1,900,43])
print('np.sqrt:', np.sqrt(my_array))


# Using native python code.
sqrt_native_python = my_array**(1/2)
print('sqrt_native_python:', sqrt_native_python)


# Function to take approximate square root by
# searching for the closest root (to the .1)
def sqrt_approx(x):
  for i in range(round(x)):
    for dec in range(10):
      if (i+dec)**2 > x:
        return i+dec-.1

# Sqrt approx is only set up to work on scalar inputs (single number).
# Lets make a function called sqrt_vectorize()
# that we can apply to arrays.
sqrt_approx_vectorize = np.vectorize(sqrt_approx)

print('sqrt_approx_vectorize:', sqrt_approx_vectorize(my_array))



## üñá Operations with Similar Arrays
In this section we will discuss performing a computation using two or more identically-shaped arrays.

We might want to add the corresponding elements from two arrays together, divide them, etc. As long as the arrays have the ***same dimensions***, we can use regular math operations to perform computations with multiple arrays, or we can use functions that are built to take in two or more arrays.

When you do simple arithmetic operations on arrays like: addition (`+`), subtraction (`-`), multiplication (`*`), and division (`/`), the operation is done element-by-element.

In [ ]:
### RUN THIS CELL ###
height = np.array([5.1,6.5,4.6])
weight = np.array([120,250,100])
bmi = weight/height
print('bmi:', bmi)

## üßò 5.0 Coding Exercise

Many times we want to do more than add, subtract, multiply, and divide elements. `numpy` has options to do more complex [operations](https://numpy.org/doc/stable/reference/routines.statistics.html).

It's time ‚è± to start exploring our dataset!

>**Task:** We will find the mean `bpm` from the songs in the dataset that are from `artist_name` Taylor Swift. The beginning code gives you all the data from Taylor Swift's songs. (we will go over what this is actually doing in a bit). You should fill in the code below and use [`np.mean`](https://numpy.org/doc/stable/reference/generated/numpy.mean.html) to calculate the average.

In [ ]:
ts_data = spotify[spotify['artist_name'] == 'Taylor Swift'].bpm    # this is the array you need to take the mean in the next line

ts_mean = ### YOUR CODE HERE ###

In [ ]:
#@title Example Solutions
ts_data = spotify[spotify['artist_name'] == 'Taylor Swift'].bpm  # this is the array to take the mean of
# Various ways to do this:
print(np.mean(ts_data))
print(sum(ts_data)/len(ts_data))
print(ts_data.mean())

## üèÉ 5.1 Coding Exercise

>**Task:** Let's calculate the `age` of each song. Fill in the code below to find the difference between the current year (`year`) and the `released_year` array.

In [ ]:
# Calculating age
year = 2024
spotify_year = spotify.released_year # this is the array to calculate the difference
age = ### YOUR CODE HERE ###

In [ ]:
#@title Solution
year = 2024
spotify_year = spotify.released_year
age = year - spotify_year
print(age)
print('Youngest', min(age))
print('Oldest', max(age))
print(min(spotify.released_year))

## üèã 5.2 Coding Exercise

Spoiler Alert ‚ùó
The top two artists in terms of `streams` are: Taylor Swift and The Weeknd.

>**Task:** Write code below to calculate the percentage of songs that each artist is contributing to within this dataset. Check that you came up with the same percentage as listed [here](https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023/data).
On this website, scroll down to where it shows the csv file, and then select the 'column' tab. Look at the row data for `artist_name`.
Hint: Use length ([len](https://docs.python.org/3/library/functions.html#len)) to help you out in your calculations.

In [ ]:
## Taylor Swift
ts_songs = len(spotify[spotify['artist_name'] == 'Taylor Swift'])  # this is the array to do the calculations on
per_ts_songs = ### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
ts_songs = len(spotify[spotify['artist_name'] == 'Taylor Swift'])  # this is the array to take the mean of
per_ts_songs = round(ts_songs/len(spotify) * 100,2)
per_ts_songs

In [ ]:
## The Weeknd
wknd_data = len(spotify[spotify['artist_name'] == 'The Weeknd'])      # this is the array to do the calculations on
per_songs = ### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
wknd_data = len(spotify[spotify['artist_name'] == 'The Weeknd'])  # this is the array to take the mean of
per_songs = round(wknd_data/len(spotify) * 100,2)
per_songs

---

# Section 6: Pandas Dataframes üêº

<img src="https://cdn.pixabay.com/photo/2018/07/22/21/12/panda-3555554__340.jpg" width=400></br></br>


A very popular Python data science library is [**`pandas`**](https://pandas.pydata.org/docs/index.html). Pandas is best for working with two dimenional matrices (with samples as rows and features as columns), where different columns may be of different data types. Lists and `numpy` arrays can very easily be converted to/from `pandas` formats. Pandas can also read in data into batches, making it a nice library for working with big datasets that can not be held entirely in memory.


Let's review our data from `spotify` (we loaded in the data into a `pandas` dataframe!).

In [ ]:
### RUN THIS CELL ###
spotify.head(10) # .head() let's us look at the first N rows.

**Which columns are strings, and which are numerical?** You can figure this out (usually) just by looking at what's in the dataframe.

>**Task:** Run the code below to see the Python data types again.

In [ ]:
### RUN THIS CELL ###
spotify.info()

---

## üß≠ Navigating a Pandas Dataframe

Dataframes are defined by rows and columns. Each row has an **index** associated with it, and each column has a column name.

>**Task:** Run the code below to print the column names and indexes (in this case the index just happens to be the same as the row number) of the data. (This is the default for the index, but it can be [changed](https://pandas.pydata.org/docs/user_guide/indexing.html#reset-the-index). Will we test that out later)

In [ ]:
### RUN THIS CELL ###
print('index: ', spotify.index)
print('columns: ', spotify.columns)


You may want to select several different objects from a `pandas` dataframes:

- **To select a specific column, or columns**, you can use the syntax ```df.column_name``` or ```df[column_names]```. The second syntax works even if your column names have dots or spaces in them, and allows you to select several columns as once.

>**Task:** Run the code below to show two of the column names from the data.

In [ ]:
### RUN THIS CELL ###
spotify_2cols = spotify[['artist_name', 'streams']]
spotify_2cols.sample(n=15)                                # take a random sample of 15 to show us

- **To select a specific row**, you can either select the row index name using ```.loc[]``` or using the row number using ```.iloc[]```.

>**Task:** Run the cell below to reindex our dataframe so that the artist name (```artist_name``` column) is the index. Then let's look at the row containing Guns N' Roses. üé∏

In [ ]:
### RUN THIS CELL ###
spotify.index = spotify['artist_name']
print("Guns N' Roses row:", spotify.loc["Guns N' Roses"])
print('\n5th row:', spotify.iloc[4])

In [ ]:
### RUN THIS CELL TO SEE AN ARTIST WITH MULTIPLE ROWS ###
print('Dua Lipa row:', spotify.loc['Dua Lipa'])

- Finally, you may want to select a single element or subset of elements. You can do this by using ```loc[]``` and using both the row index and column name  as the key(s).

>**Task:** Run the cell below to do this with our dataset

In [ ]:
### RUN THIS CELL ###
spotify.loc[["Lady Gaga", "Lord Huron", "Michael Buble"],
            ['bpm','streams', 'released_year']]

***Note: Rows, columns, or subsets of data in a dataframe act very similarly to numpy arrays***.

## Bonus: Bracket versus Dot Indexing

Figuring out when to use which depends on different factors, and we won't go into those today. I encourage you to play around test out the different ways as you like in the notebook.

More info can be found on these websites:<br>
[Pandas documentation](https://pandas.pydata.org/docs/user_guide/indexing.html#different-choices-for-indexing)
<br>
[Pandas tutorial](https://pandas.pydata.org/pandas-docs/version/1.0/getting_started/intro_tutorials/03_subset_data.html)<br>
[DataSchool](https://www.dataschool.io/pandas-dot-notation-vs-brackets/)<br>
https://www.dunderdata.com/blog/
[DunderData Blog](https://www.dunderdata.com/blog/use-the-brackets-to-select-a-single-pandas-dataframe-column-and-not-dot-notation)<br>
We primarily used brackets above. Test out similar code below, but use `.` indexing.

>**Task:** Choose a column name and use dot indexing to reference it below: `df.column_name`

In [ ]:
### YOUR CODE HERE ###

In [ ]:
#@title Example Solution
spotify.bpm

## üßò 6.0 Coding Exercise


<img src="https://cdn.pixabay.com/photo/2023/08/09/16/38/ai-generated-8179915_640.png" width=200>


>**Task:** Find the `track_name`, `released_year`, and `energy_percent` of 3 artists of your choosing. (from ```spotify``` dataframe)

In [ ]:
### YOUR CODE HERE ###
## feel free to show yourself the dataframe first and scroll through it to select your artists :)

In [ ]:
#@title Example Solution

spotify.loc[["Lana Del Rey","Eminem", "The Chainsmokers Halsey"],
                 ['track_name', 'released_year', 'energy_percent']]

## üî® Editing or Adding To a DataFrame

We learned how to reindex our dataframe using ```.index```. We can edit our dataframes in other ways as well:
*   add/remove a column/row
*   edit the value of a specific cell, row, or column

>**Task:** Run the following code for examples on this.

In [ ]:
### RUN THIS CELL ###

# Add a column called "random_number"
spotify['random_number'] = np.random.random(len(spotify))
print('first 5 rows with random_number column:\n ',spotify.head(5))

# Add a row called "CCR_like"
# that is equal to the values for Creedence Clearwater Revival (CCR).
spotify.loc["CCR_like"] = spotify.loc["Creedence Clearwater Revival"]
print('\n\nlast 5 rows, with new CCR_like: \n',spotify.tail(5))

# Change the random_number value just for CCR_like.
spotify.loc['CCR_like', 'random_number'] = 12345
print('\n\nedited CCR_like: ', spotify.loc['CCR_like','random_number'])

# Drop the CCR_like row and the random_number column
# to return to our original dataframe.
spotify = spotify.drop('CCR_like')
spotify = spotify.drop('random_number', axis=1)

print('final dataframe (last rows): ')
spotify.tail()


## üèÉ 6.1 Coding Exercise

We calculated the age of each song above and stored it in a variable called `age` (5.1 Coding Exercise). Now we can add the `age` values we calculated above for each song to our dataframe.
There are multiple ways this could be done, but we are going to keep practicing using `loc`.

>**Task:** Adjust this example code by replacing the `dataframe`, inserting the correct way to index the dataframe (replacing `...`) in brackets after `loc` and finally by setting it equal to our variable name that we want to use: <br>
`dataframe.loc[...,...] = variable_name`

In [ ]:
### YOUR CODE HERE ###
dataframe.loc[...,...] = variable_name

In [ ]:
#@title Example Solution
spotify.loc[:, "age"] = age
print(spotify.columns)

In [ ]:
#@title Example Solution - Another Way
# first need to reset the index!
spotify = spotify.reset_index(drop=True)
spotify.insert(0, "age", age, allow_duplicates=True)

## üíæ Data types

Values from a single column in a dataframe all have the same datatype (boolean, string, integers, floats, etc.). To see the datatypes for each column, you can use the [`.dtypes`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html) property to look over your dataframe's columns' types.

In [ ]:
### RUN THIS CELL ###
print(spotify.dtypes)

Sometimes it can be useful to use the command [```.astype('datatype')```](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html) to convert a specific column of your dataframe to a certain type (for example, if integers were misread as strings, or 0/1s were misread as integers instead of booleans).

In [ ]:
### RUN THIS CELL ###

# Several of our column names are objects, but should be strings
# let's convert it to a regular old string!
spotify['mode'] = spotify['mode'].astype('string')

In [ ]:
### RUN THIS CELL ###
spotify.info()

Notice that we do have more columns that are objects and we want them to be strings. We will come back to this - you will adjust the remaining datatypes using a for loop. Stay tuned for this in the next section! üë∑

## üèã 6.2 Coding Exercise

We have a categorical column called `mode` that has two options: major or minor. Maybe we would want to work with this data in separate columns for analysis. To do so, we can convert these data into a 0 or a 1 (boolean) corresponding to the string from the original `mode` column and place these in 2 separate columns. `pandas` has a function to help us do this called [`get_dummies`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html).



Adjust this example code by replacing the `dataframe` and inserting the column name for `columns` and `prefix`:
`pd.get_dummies(dataframe, columns=[''], prefix=['']`

In [ ]:
### YOUR CODE HERE ###
spotify_dummies = pd.get_dummies(..., columns=[...], prefix=[...])

In [ ]:
#@title Example Solution
spotify_dummies = pd.get_dummies(spotify, columns=['mode'], prefix=['mode'])
spotify_dummies

Let's review what we did and what the data looks like now.

In [ ]:
### RUN THIS CELL ###
spotify_dummies.columns

In [ ]:
### RUN THIS CELL ###
dummy_cols = spotify_dummies[['mode_Major', 'mode_Minor']]
dummy_cols

Before we continue, let's set our index back to numbers instead of `artist_name`. This is needed for later plotting, and we don't want to forget to [reset](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)!
>**Task**: Run the cell below.

In [ ]:
### RUN THIS CELL ###
spotify = spotify.reset_index(drop=True)

-----

# Just for fun üéß
Read about some of the top [trends from 2023 on Spotify](https://newsroom.spotify.com/2023-11-29/top-songs-artists-podcasts-albums-trends-2023/). Do you recognize any of these names from our dataset?

---
# Technical Notes and Credits üëè üôè

The exercises for this notebook were adapted from resources available from the [Python for Supervised Machine Learning Bootcamp](https://nevadainbre.github.io/bootcamp-supervised-ml-2023-01.html) and Dr. Brianna Chrisman.
Exercises were also adapted from [Programming in Python Data Carpentry Resources](https://edcarp.github.io/2018-11-06-edinburgh-igmm-python/).

Thanks to the Data Science Initiative at UNR, supported by a Nevada INBRE supplemental award for Building Data Science Capacity, along with Research & Innovation for supporting this workshop during the first [Data Science Conference](https://www.unr.edu/bioinformatics/training-events/data-science-conference). Shout out and special thanks to Dr. Juli Petereit (Director of Nevada Bioinformatics Center) for her support with the Data Science Initiative. Another special thanks to Dr. Theresa McKim for creating this workshop and allowing extension of it.